/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%
}

/* COMMON */
.mt-b{
    margin-top: 8em;
}
.mt-s{
    margin-top: 4rem;
}
.mb-m{
    margin-bottom: 1em;
}
.mb-c{
    margin-bottom: 1em;
}
.cont-small{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.br-one{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.br-two{
    border-bottom: 1px solid black;
}

/* TIPOGRAPHY */
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
button{
    border: none;
}

/* Header */
    /* Cont nav */
.cont-nav{
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 100;
}
.cont-nav .nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Nav left */
.nav .nav-left{
    width: 30%;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5em 0em;
}
.nav-left > .logo{
    width: 20px;
}
.nav-left > .sx{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
/* Nav right */
.nav .nav-right{
    width: 30%;
    background-color: red;
}

.nav .nav-right{
    width: 30%;
    background-color: red;
    display: flex;
    align-items: center;
    padding: 1.5em 1em;
}

.nav-right > .dx{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin-right: 1em;
}
.nav-right > .b-header{
    padding: .5em 1.2em;
}

/* Jumbo */

.cont-jumbo{
    width: 100%;
    min-height: 750px;
    background-color: aquamarine;
    position: relative;
}
.jumbo{
    width: 60%;
    height: 600px;
    position: absolute;
    background-color: blue;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.jumbo .title-jumbo{
    width: 100%;
    height:200px;
    background-color: bisque;
}
.jumbo .descri-jumbo{
    width: 100%;
    height: 400px;
    display: flex;
}
.descri-jumbo > .jumbo-sx{
    width: 30%;
    border: 1px solid red;
}
.descri-jumbo > .jumbo-dx{
    width: 70%;
    border: 1px solid red;
}

/* MAIN */
    /* Section Business */

.business{
    width: 100%;
}
.business .business-title{
    width: 100%;
    min-height: 100px;
    background-color: brown;
}
/* Business row */
.business .bus-row{
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}
    
.bus-row > .bus-col{
    width: calc(100% /3 - 20px);
    border: 1px solid red;
    
}
.bus-title{
    text-align: center;
    border-bottom: 1px solid red;
}
.bus-prize{
    padding: 1em .5em;
}

.bus-col hr{
    width: 30%;
    margin-left: .5em;
}
.highlights{
    padding: 1em .5em;
}
/* Offices */
.business .offices{
    width: 100%;
    background-color: aquamarine;
    height: 300px;
    font-size: 2rem;
}
.offices .o-title{
    text-align: center;
    border-bottom: 1px solid red;
}
.offices .o-row{
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    padding: 1em .5em;
}
.o-col{
    width: 80%;
    height: 250px;
    border: 1px solid red;
}
.but-office{
    padding: .2em .9em;
    height: 20px;
}
/* Section Search */
.search{
    width: 100%;
    height: 500px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}
.search .img-search{
    width: 60%;
    border: 1px solid red;
}
.search .text-search{
    width: 40%;
    border: 1px solid red;
    padding: 3em;
}
.text-search > .b-search{
    padding: .8em;
}

/* CARDS */

.cards{
    width: 100%;
    background-color: aquamarine;
}
.cards h2{
    font-size: 3.6rem;

}
.cards .cards-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em 2.5em;
    border: 1px solid red;
}
.cards-row > .cards-col{
    width: calc(100% / 3 - 2em);
    height: 400px;
    background-color: yellow;
}

/* Call to */
.call-to{
    width: 60%;
}
.call-to a{
    text-decoration: underline;
    color: blue;
    font-size: 1.4rem;
}
.call-to h2{
    font-size: 3.6rem;
}

/* Section Sponsor */
/* Sponsor Top */
.sponsor-top{
    max-width: 100%;
    background-color: grey;
    height: 618.66px;
    display: flex;
}
.sponsor .box-sp{
    width: calc(100% / 3);
    height: 618.66px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}
.box-sp .single-sp{
    width: 50%;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
}
.single-sp > img{
    width: 100%;
    height: 50%;
}
/* Sponsor Bottom */
.sponsor-bottom{
    background-color: rgb(32, 189, 251);
    width: 100%;
}
.cont-box{
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5em 0em;
    margin: 0 auto;
    display: flex;
}
.s-b-left{
    width: 60%;
}
.sp-button{
   padding: .6em 1.4em;
}
.s-b-left h2{
    font-size: 3.6rem;
}
/* Questions */
.questions{
    width: 100%;
    padding: 10em 0em;
}
.box-quest{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    
}
.box-quest h2{
    font-size: 3.6rem;
}
.box-quest h3{
    font-size: 1.8rem;
}
.box-quest .box-questions{
    width: 100%;
}
.box-questions .quest{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0em;
}
.quest > .q-text{
    width: 70%;
}
.quest > .chevron{
    width: 10%;
    font-size: 1.5rem;
    text-align: center;
}

/* Footer */






