/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%
}

/* COMMON */
.mt-sb{
    margin-top: 12em;
}
.mt-b{
    margin-top: 8em;
}
.mt-s{
    margin-top: 4rem;
}
.mb-m{
    margin-bottom: 1em;
}
.mb-1{margin-bottom: 1em;} 
.mb-2{margin-bottom: 2.4em;}

#mb-b{
    margin-bottom: 2.2em;
}
.mb-c{
    margin-bottom: 1em;
}
.cont-small{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.br-one{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.br-two{
    border-bottom: 1px solid black;
}
label{
    font-size: 1.4rem;
    font-weight: 400;
}
input{
    width: 1.6rem;
    height: 1.6rem;
}
.i-blue{
    color:#0061ff;
}

#green{
    background-color: #a2d39b;
}
#grana{
    background-color: #61082b;
}
#blue{
    background-color: #0093ce;

}
#red1{
    background-color: #ff1c1c;
}
#red2{
    background-color: #d5001f;
}
#blue2{
    background-color: #b4d0e7;
}
#blue3{
    background-color:#0d2481;
}
#yellow{
    background-color: #ffd830;
}
.padd{
    padding: 3em;
    flex-direction: column;
}
/* CSS PROPERTIES */
:root{
    --font-li: 1.4rem;
    --color-button-one:#0061ff;
    --font-color-white: white;
    --font-color-black: black;
    --mar-bottom-col: 1.2em;
    --mar-botton-col-big: 2.2em;
   
}
/* TIPOGRAPHY */
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
button{
    border: none;
}

/* Header */
    /* Cont nav */
.cont-nav{
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 100;
}
.cont-nav .nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Nav left */
.nav .nav-left{
    width: 30%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5em .6em;
}
.nav-left > .logo{
    width:20%;
}
.logo > img{
    width: 100%;
}
.nav-left > .sx{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.sx li{
    font-size: var(--font-li);
}
.sx li a{
    color: var(--font-color-black);
}
/* Nav right */
.nav .nav-right{
    width: 30%;
}

.nav .nav-right{
    width: 30%;
    display: flex;
    align-items: center;
    padding: 1.5em 1em;
}

.nav-right > .dx{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin-right: 1em;
}
.dx li{
    font-size: var(--font-li);
}
.dx li a{
    color: var(--font-color-black);
}
header .b-header{
    background-color: var(--color-button-one);
    padding: .5em 1.2em;
}
.b-header > a{
    color: var(--font-color-white);
}



/* Jumbo */

.cont-jumbo{
    width: 100%;
    min-height: 750px;
    background-color: #b4d0e7;
    position: relative;
}
.jumbo{
    max-width: 1100px;
    width: 100%;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.jumbo .title-jumbo{
    width: 100%;
}
.title-jumbo > h1{
    font-size: 6.2rem;
}

.jumbo .descri-jumbo{
    width: 100%;
    display: flex;
}
.descri-jumbo > .jumbo-sx{
    width: 30%;
    padding: 0em 1.4em;
}
.jumbo-sx > p{
    font-size: 1.4rem;
    color:var(--font-color-black);
    margin-bottom: var(--mar-bottom-col);
}
.jumbo-sx .b-header{
    margin-bottom: var(--mar-bottom-col);
}
.jumbo-sx i{
    font-size:3.5rem;
}

.descri-jumbo > .jumbo-dx{
    width: 70%;
}

.jumbo-dx > img{
    width: 100%;
}
/* MAIN */
    /* Section Business */

.business{
    width: 100%;
}
.business .business-title{
    width: 100%;
    padding: 3em 0em;
}
.business-title > h2{
    font-size: 3.6rem;
}
.business-title .check-radio{
    display: flex;
    align-items: center;
    margin-top:2em;
}
.check-radio > #ml{
    margin-left: 3em;
}

/* Business row */
.business .bus-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
}
    
.bus-row > .bus-col{
    width: calc(100% /3 - 20px);
    border: 1px solid black;
    
}
.bus-title{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 1em 0em;
}
.bus-prize{
    padding: 1em .9em;
}
.top-prize > h3{
    font-size: 2.2rem;
    margin-bottom: .5em;
}
.top-prize >h4{
    margin-bottom: .5em;
}
.activity{
    min-height: 200px;
}
.activity li{
    margin-bottom: .8em;
}
.activity:last-child{
    margin-bottom: 0px;
}
.bus-prize >.b-header{
    margin: 2em 0em;
    background-color: var(--color-button-one);
    padding: 0.9em 2.5em;
}
.bus-prize >.b-header a{
    font-size: 1.6rem;
}
#pay{
    text-decoration: underline;
    color: blue;
}

.bus-col #hr{
    width: 30%;
    margin: 2em 0em 2em .5em;
}
.highlights{
    padding: 1em .9em;
}
.info li{
    margin-bottom: .8em;
}
/* Team enterprice */

/* Offices */
.business .offices{
    width: 100%;
    font-size: 2rem;
    border: 1px solid black;
}
.offices .o-title{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 1em 0em;
}
.offices .o-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.2em .9em;
}
.o-col{
    width: 70%;
}
.o-col > h3{
    font-size: 2.2rem;
    margin-bottom: .5em;
}
.o-col > p{
    margin-top: 3em;
    font-size: 1.6rem;
}
.o-col2{
    width: 30%;
    text-align: end;
}
.o-col2 > .b-header{
    background-color: var(--color-button-one);
    padding: 0.9em 2.5em;
}


/* Section Search */
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search .img-search{
    width: 60%;
}
.img-search > img{
    width: 100%;
}

.search .text-search{
    width: 40%;
    padding: 3em;
}
.text-search > h3{
    font-size: 2.2rem;
    margin-bottom: .5em;
}
.text-search > p{
    font-size: 1.6rem;
}
.text-search > .b-search{
    border: 1px solid black;
    padding: 0.9em 2.5em;
    background-color: white;
}

/* CARDS */

.cards{
    width: 100%;
}
.cards h2{
    font-size: 3.6rem;

}
.cards .cards-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em 2.5em;
}
.cards-row > .cards-col{
    width: calc(100% / 3 - 2em);
}
.c-c-img > img{
    width: 100%;
}
.cards-col > img{
    width: 100%;
}
.cards-row .c-c-text{
    margin-top: .5em;
}
.c-c-text > h3{
    margin-bottom: 1em;
    font-size:2.2rem;
}
.c-c-text > p{
    font-size: 1.6rem;
}

/* Call to */
.call-to{
    width: 60%;
}
.call-to a{
    text-decoration: underline;
    color: blue;
    font-size: 1.4rem;
}
.call-to h2{
    font-size: 3.6rem;
}

/* Section Sponsor */
/* Sponsor Top */
.sponsor-top{
    max-width: 100%;
    background-color: grey;
    display: flex;
    
}
.sponsor .box-sp{
    width: calc(100vw / 3);
    height: 33.3vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;
}
.box-sp .single-sp{
    width: calc(100% /2);
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
}
.single-sp > img{
    width: 100%;
    transform: scale(.7);
    filter: invert(100%);
}
.box-sp .cent{
    width: 40%;
    margin-bottom: 8em;
}
.cent > img{
    width: 100%;
}
.box-sp hr{
    width: 20%;
}
.box-sp .text-sp p{
    font-size: 1.6rem;
}


/* Sponsor Bottom */
.sponsor-bottom{
    background-color: #b4d0e7;
    width: 100%;
}
.cont-box{
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5em 0em;
    margin: 0 auto;
    display: flex;
}
.s-b-left{
    width: 60%;
}
.sp-button{
   padding: .6em 1.4em;
}
.s-b-left h2{
    font-size: 3.6rem;
}
/* Questions */
.questions{
    width: 100%;
    padding: 10em 0em;
}
.box-quest{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    
}
.box-quest h2{
    font-size: 3.6rem;
}
.box-quest h3{
    font-size: 1.8rem;
}
.box-quest .box-questions{
    width: 100%;
}
.box-questions .quest{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0em;
}
.quest > .q-text{
    width: 70%;
}
.quest > .chevron{
    width: 10%;
    font-size: 1.5rem;
    text-align: center;
}

/* Footer */
.footer{
    width: 100%;
    background-color: black;
    color: white;
}
.footer .box-footer{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 4em 0em;
}
.footer .box-footer .nav-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-footer > .b-footer{
    width: calc(100% / 5 - 5px);
    padding: 2em 0em;
}
.b-footer h3{
    font-size: 2.2rem;
    margin-bottom: 1em;
}

.b-footer .foot-ul li{
    margin-bottom: 0.8em;
    font-size: 1.3rem;
}
.box-footer hr{
    width: 10%;
    margin: 4em 0em;
}
.t-langue{
    font-size: 1.4rem;
}







